<!DOCTYPE html>
<html>
  <head>
    <title>MyDiary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-16x16.png">
    <link rel = "stylesheet" type = "text/css" href = "../css/main.css"/>
  </head>
  <body>
        <header>
            <h1>My thoughts</h1>
        </header>
        <div class="home_contents">
            <div class="profile_panel">
                <div class="card-header">
                    <img class="profile-photo" src="../images/profile.jpg" alt="profile">
                </div>
                <h2>Gabriel Innocent Okello</h2>
                
                <ul class="card-links">
                        <hr>
                        <a href="addthought.html">
                            <li>
                                <span class="label">New Post</span>
                            </li>
                        </a>
                        <hr>
                        <a href="settings.html">
                        <li>
                          <span class="label">Settings</span>
                        </li>
                      </a>
                      <hr>
                      <a href="home.html">
                        <li>
                          <span class="label">Reacent Post</span>
                        </li>
                      </a>
                      <hr>
                      <a href="#">
                          <li>
                            <span class="label">Notifications</span><span class="label-notification label-active">3</span>
                          </li>
                        </a>
                        <hr>
                    </ul>
                <hr>
                <button class="logout_btn"><a href="../index.html" >Logout</a> </button>
            </div>
            <div class="stories">
                <!--List of all Diary entries-->
                <div class="articles">
                        <h3 ><u>Story Title</u> </h3>
                        <p class="date">10<sup>th</sup> June, 2018</p>
                             <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, cupiditate laborum? 
                                Minima cumque molestiae deserunt quis aliquid, est facere officia quasi! Deleniti consequuntur 
                                neque aut. Corrupti non doloribus quam ad, recusandae quasi porro. Iste, reiciendis accusamus cumque 
                                error ea ex eaque laboriosam modi quidem officiis dolor veritatis laudantium, voluptatibus dolorem eveniet! 
                                Ipsum consequuntur modi odio tenetur, labore perspiciatis minus porro.
                                 <br>
                                 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, cupiditate laborum? 
                                 Minima cumque molestiae deserunt quis aliquid, est facere officia quasi! Deleniti consequuntur 
                                 neque aut. Corrupti non doloribus quam ad, recusandae quasi porro. Iste, reiciendis accusamus cumque 
                                 error ea ex eaque laboriosam modi quidem officiis dolor veritatis laudantium, voluptatibus dolorem eveniet! 
                                 Ipsum consequuntur modi odio tenetur, labore perspiciatis minus porro.
                                </p>
                                <div class="actions">
                                        <p>
                                         <button class="rounded_btn"> <a href="addthought.html"> Edit </a></button>
                                         <button class="logout_btn"><a href="addthought.html"> Cancel</a></button>
                                     </p> 
                                </div>
                         </div> 
            </div>
        </div>
        
    </body>
</html>