<!DOCTYPE html>
<html>
  <head>
    <title>MyDiary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-16x16.png">
    <link rel = "stylesheet" type = "text/css" href = "../css/main.css"/>
  </head>
  <body>
        <header >
                <h1>My Diary</h1>
            </header>

        <div class="content">   
                <form  action="../index.html" class="form-signup">
                    <h2>Sign up</h2>
                    <hr>
                    <p>Please fill in this form to create an account.</p>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                    <label for="psw-confirm"><b>Confirm Password</b></label>
                    <input type="password" placeholder="Confirm Password" name="psw-confirm" required>
                    <p>By creating an account you agree to our</p>
                    <p><a href="#">Terms & Privacy</a>.</p>
                    <button type="submit" class="registerbtn">Register</button> 
                    <div id="container signin">
                        <p>Already have an account? <a href="../index.html">Sign in</a>.</p>
                    </div>           
                </form>
            <script src="../js/main.js"></script>
            <footer>
                Copyright &copy; GIO 2018
            </footer>

        </div>

    </body>
</html>