<!DOCTYPE html>
<html>
  <head>
    <title>MyDiary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-16x16.png">
    <link rel = "stylesheet" type = "text/css" href = "../css/main.css"/>
  </head>
  <body>
        <header>
            <h1>My Settings</h1>
        </header>
        <div class="home_contents">
            <div class="profile_panel">
                    <div class="card-header">
                            <img class="profile-photo" src="../images/profile.jpg" alt="profile">
                        </div>
                        <h2>Gabriel Innocent Okello</h2>
                        <hr>
                        <ul class="card-links">
                                <a href="#">
                                     <li>
                                            <input type="file" value="upload Image" class="label">
                                     </li>
                                </a>
                                <hr>
                                <a href="addthought.html">
                                    <li>
                                        <span class="label">New Post</span>
                                    </li>
                                </a>
                                <hr>
                                <a href="settings.html">
                                <li>
                                  <span class="label">Settings</span>
                                </li>
                              </a>
                              <hr>
                              <a href="home.html">
                                <li>
                                  <span class="label">Reacent Post</span>
                                </li>
                              </a>
                              <hr>
                              <a href="#">
                                  <li>
                                    <span class="label">Notifications</span><span class="label-notification label-active">3</span>
                                  </li>
                                </a>
                                <hr>
                            </ul>
                        <hr>
                        <button class="logout_btn"><a href="../index.html" >Logout</a> </button>

            </div>

            <div class="settings">
                <!--List of all Diary entries-->
                <div class="articles">
                        <h3> <u>Registration Details</u> </h3>
                        <p>Registered Date : 12/07/2018</p>

                        <label for="username">Change Username</label>
                        <input type="text" name="" value="Okello Gabriel Innocent">

                        <label for="email">Change Email</label>
                        <input type="email" name="" value="okellogabrielinnocent@gmail.com">
                        <label for="password">Change password</label>
                        <input type="password" name="" value="okellogabrielinnocent@gmail.com">
                        <label for="password">Change password</label>
                        <input type="password" name="" value="okellogabrielinnocent@gmail.com">

                        <p>Total Entries : 20</p>

                        <h3> <u>Notification Preferences</u> </h3>

                       <p> <input type="checkbox"> Get Notified on time to add an entry to your diary? </p>

                </div>
            </div>
        </div>
        
    </body>
</html>